$font: 'Sefoe UI', 'Helvetica', 'Arial,' sans-serif;

$text-color: #ADBAC7;
$secondary-text-color: #768390;

$dark-color: #22272E;
$light-color: #2D333B;
$contrast-color: #46954A;

$border: 1.5px solid #444C56;
