@use 'src/styles/vars';

.ui.segment.searchBar {
  border: none;
  background-color: vars.$light-color;
  margin: 0;

  .searchBar-form {
    border: none;

    .searchBar-form--input {
      border: none;

      #input {
        background-color: vars.$dark-color;
        color: vars.$text-color;
        border: vars.$border;
        padding-left: 10px;
      }

      i.search.icon {
        background-color: vars.$contrast-color;
        color: white;
        opacity: 1;
      }
    }
  }
}
